{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReIFeição</title>

    <link rel="shortcut icon" href="{% static "img/if.ico">
    {% load static %}
    <link rel="stylesheet" type="text/css" href= "{% static "css/style.css" %}"/>
    <link href="{% static 'img/icon/if.png' %}" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="box_cp">
            <h2>Dados Gerais</h2>
            <div class="table_dados">
                <b>
                    <label>Função:</label>
                </b>
                <label>Caest</label>
                <b>
                    <label>Matrícula:</label>
                </b>
                <label>{{user.username}}</label>
                <br>
            </div>
            <hr>
            <div class="table_process">

                <form>
                    <table width='100%' border='1' bordercolor='#000000'>
                        <th>Processo</th>
                        <th>Situação</th>
                        {%for resultados in object_list %}
                        <tr>
                            <td><a href="{% url 'process-detail' resultados.pk %}">{{ resultados.data}}</a></td>
                            <td>
                                <input type="radio" name="situacao" value="True">Aprovar
                                <input type="radio" name="situacao" value="False">Reprovar
                                <input type="submit" name="" value="Confirmar">
                            </td>
                        {% endfor %}
                        </tr>
                    </table>
                </form>
            </div>
            <div class="btn_exit">
                <a style="margin-top: -69px; margin-left: 35%;" href= "{% url 'users-signout' %}"><input type="submit" onclick="confirmExit()" name="" value="Sair"></a>
            </div>
        <script src="{% static 'js/script.js' %}"></script>
</body>
</html>