<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cajazeiras | Dados Covid.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id="page">
        
    <div id="header">
        <div>
            <img class="logo" src="https://cajazeiras.pb.gov.br/imagens/logo.png">
        </div>

        <h2 class="cab">BOLETIM DO CORONAVÍRUS (COVID-19)</h2>
    </div> 

    <div id="nav">
        <ul>
            <li><a href="{{url_for('main.homepage')}}" class="disable_underlined">BOLETIM</a></li>
            <li><a href="{{url_for('cons.conspage')}}" class="disable_underlined">EXAME</a></li>
            <li><a href="{{url_for('info.infopage')}}" class="disable_underlined">REDES SOCIAIS</a></li>
            <li><a href="{{url_for('admin.adminpage')}}" class="disable_underlined">ADMIN</a></li></li>
        </ul>
    </div>

    <div id="info" class="box">
        <h3>REDES SOCIAIS</h3>
        <br>
        <h4>Para obter mais informações sobre o coronavírus (covid-19) ou outros assuntos, acesse:</h4>
        <br>
        <a id='insta-button' class="disable_underlinedRD" href="https://www.instagram.com/smscajazeiras" rel="nofollow" target="_blank" class="line"></a>
        <a id='face-button' class="disable_underlinedRD" href="https://www.facebook.com/PrefeituraDeCajazeiras" rel="nofollow" target="_blank" class="line"></a>
    </div>

    <div id="footer">
        <p class="cop">&copy; 2020</p>
    </div>
</body>
</html>